{% extends 'faculty/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/faculty_menu.css' %}">
<link rel="stylesheet" href="{% static 'css/input_style.css' %}">
{% endblock %}

{% block menu %}
<div class="navbar">
    <a href="{% url 'faculty:faculty_index' faculty_id %}">Главная</a>
    <div class="dropdown">
        <button class="dropbtn"> {{ name_faculty.NameFaculty }}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{% url 'faculty:logout' %}">Выйти</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<label for="archive_group">Выгрузка по группе</label>
<form action="{% url 'faculty:archive' faculty_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <select class="groupBtn" name="select" id="archive_group">
        {% for group in groups %}
        <option>
            {{ group.NameGroup }}
        </option>
        {% endfor %}
    </select>
<!--    <input type="radio" name="course" value="2">1 Курс-->
<!--    <input type="radio" name="course" value="4">2 Курс-->
<!--    <input type="radio" name="course" value="6">3 Курс-->
<!--    <input type="radio" name="course" value="8">4 Курс-->
<!--    <br>-->
    <button type="submit">Отправить</button>
</form>
<label for="student_fullname">По студенту</label>
<form action="{% url 'faculty:archive' faculty_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="text" class="find_student" name="student_fullname" id="student_fullname"><br>
    <button type="submit">Отправить</button>
</form>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'JS/addModalFile.js' %}"></script>
<script src="{% static 'JS/database.js' %}"></script>
<script src="{% static 'JS/content.js' %}"></script>
{% endblock %}